.avatar {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  overflow: hidden;
  user-select: none;
  border: 1.333px solid #fff;
  border-radius: 50%;
  border-radius: 50px;
  outline: none;
  box-shadow: 0 5.333px 8px 0 rgba(162, 183, 203, 0.1);
}

.avatarImage {
  object-fit: cover;
}

.avatarInitials {
  font-weight: 600;
  text-transform: uppercase;
}
